<div class="container">
  <div class="col-sm-10 col-sm-offset-1 agreement">
    <h1>makepoとは</h1>
      <p class="red">makepoとはあなたの商品をPRするために作られたウェブアプリです。</p>
      <p>あなたは自分の商品を５回まで（→機能拡張後５回以降は課金制）PRすることができます！</p>
      <p>やり方は簡単で、会員登録を行い商品を登録します。</p>
      <p class="red">あとは、自分の好きなタイミングで、”商品を目立たせる”というボタンをクリックするだけ。</p>
      <p>これであなたの商品はおすすめ商品ページの一番上へ飛ぶようになります！</p>
  </div>
</div>
