// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.posts
  border: 1px solid #dcdcdc
  background-color: #fff
  margin-bottom: 20px
  padding: none
  border-radius: 10px        /* CSS3草案 */
  -webkit-border-radius: 10px    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px
.img-responsive
  border-radius: 10px 10px  0px 0px   /* CSS3草案 */
  -webkit-border-radius: 10px 10px 0px 0px  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px 10px 0px 0px
.thumbnails
  border-radius: 0px 0px  0px 0px!important   /* CSS3草案 */
  -webkit-border-radius: 0px 0px 0px 0px!important   /* Safari,Google Chrome用 */
  -moz-border-radius: 0px 0px 0px 0px!important
  img
    margin-top: 5px
.PR
  padding: 11px 35px
  font-size: 1.2em
  background-color: #eee8aa
  border-radius: 10px 10px  10px 10px   /* CSS3草案 */
  -webkit-border-radius: 10px 10px 10px 10px  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px 10px 10px 10px
  border: solid 1px #deb887
.edit
  float: right
.edit>h4>a:hover
  text-decoration: none!important
  background-color: #ffffff
  color: #000000
.show-title>a:hover
  color: #000000
  background-color: #ffffff
  text-decoration: none!important
.show-price
  color: #ff4500
  font-size: 0.9em
.show-content
  border: solid 1px #dcdcdc
  padding: 10px 10px 11px 11px
  border-radius: 10px 10px  10px 10px   /* CSS3草案 */
  -webkit-border-radius: 10px 10px 10px 10px  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px 10px 10px 10px
.list-unstyled
  margin-left: 20px
  margin-top: 20px
.title
  color: #000000
  font-size: 20px
  font-weight: bold
.price
  font-size: 15px
  color: #cd5c5c
  margin-top: 20px
.counter
  color: #ff0000
.img
  border-radius: 10px 10px  10px 10px   /* CSS3草案 */
  -webkit-border-radius: 10px 10px 10px 10px  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px 10px 10px 10px
.wrapper
  width: 40%
  margin: 0 auto 35px
  float: none
  border: 1px solid #ddd
  border-bottom-width: 3px
  border-radius: 6px
  background-color: #fff
  h1
    margin: 0px
    padding: 12px
    text-align: center
    border-bottom: 2px solid #ddd
    font-weight: 600
    color: #f0e68c
    text-shadow: 1px 1px 1px #000000

.field
  width: 100%

.btn
  width: 100%
  padding: 12px
  margin-top: 10px
  margin-bottom: 10px
  font-size: 40px
  color: #ffffff
  background-color: #3cb371
  margin: 0
.btn:hover
  color: #ffffff!important
form
  border: 1px solid #fff
  border-radius: 6px
.back
  float: right
  font-size: 20px
.comp
  margin-top: 20px
.h3-cas
  color: #ff6347
.h3-simi
  color: #6495ed
.attenssions
  margin-top: 20px
.search
  margin-bottom: 10px
.genre-order
  margin-bottom: 10px
  margin-left: 10px
