// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


.posts
  border: 1px solid black
  background-color: #fff
  margin-bottom: 20px
  padding: none
  height: 270px
  border-radius: 4px        /* CSS3草案 */
  -webkit-border-radius: 4px    /* Safari,Google Chrome用 */
  -moz-border-radius: 4px  
